/* En este archivo escriban su CSS */



/* Importar aquí la font */
  @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Lato:wght@400;700&family=Poppins:wght@500&display=swap');


/* Fonts */
 *{ 
    font-family: 'Dancing Script', cursive;
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
    max-width: 1200px;
    margin: auto;
}

/* Aquí les dejamos como ayuda este "reset" en el cual ajustamos algunas propiedades
*  cuyos valores asigna por defecto el navegador.
*/
body {
    list-style: none;
    
   
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    background:#fbfbfb;
    position: fixed;
    width: 100%;
    z-index: 100;
    margin: 0;
}

.navbar {
    display: flex;
    margin-right: 50px;
    color: inherit;
    
}
.navbar a {
    display: block;
    padding: 60px 30px;
    color:black;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 20px;
    color: inherit;
}
.navbar a:hover {
    background: #e6e5e5;
}
.logo {
    border-style:none;
    width:10%;
    padding: 10px;
    margin: 10px;
    color: #e6e5e5;
    
}

/* .logo a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
} */

/* header { 
    margin:0;    
    background-color: #fbfbfb;
    font-size:18px;
    width:100%;
    color: black;
    justify-content: space-between;
   */
    
}
/* #logo {
    border-style:none;
    width:15%;
    padding: 20px;
    margin: 20px;; */


}

/* #Inicio{
    
    margin-bottom: 20px;
    text-decoration: none;
    color: inherit;
    display: block;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
   
}
#Contacto{
    margin-bottom: 20px;
    text-decoration: none;
    color: inherit;
    display: block;
    text-align: center;
    padding-bottom: 20px;
 
    
} .enlaces {
    display: flex; 
    text-align: center;
    margin-bottom: 20px;
    margin-right: 20px;
    font-size:18px;
    text-decoration: none;
    color: inherit;
    
}*/

/* .foto {
    width:400px;
    height:400px;
    border-radius:180px;
    text-align: center;
    display: block;
    margin: 0 auto;
    padding: 50px;
} */

.center {
    margin: 0% auto;
    width: fit-content;
}
h1{
    text-align: center;
    font-size: 36px; 
  
}

main{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    line-height: 1.2;
    font-size:18px;
    border-radius:10px;
    background-color: rgba(175, 89,158, 0.3);
    padding: 20px;
}

h2 {
    font-size:28px;
    text-align: center;
   
}

#sistesis {
    text-align: center;
    font-size:20px; 
    border-radius: 15px;
    background-color: #af599e;
    text-transform: capitalize;
    padding: 15px;
    box-align: center;
    text-transform: uppercase;
    font-family:  sans-serif;
    text-decoration: none;
    color: inherit;
    
 }       
 section{
    text-align: center;
    list-style: none;
      
 }  
 .adicional{
    justify-content: space-between;
    display:flex;
    padding: 20px;

 }

 .icono{
    box-sizing: border-box;
    margin: 20px 20px;
 }

 #pie {
    text-align:center;
    font-size: 20px;
    color:#fbfbfb;
    background-color:#af599e;
    padding: 20px;
    box-sizing: border-box;
}