/* En este archivo escriban su CSS */



/* Importar aquí la font */
  @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Lato:wght@400;700&family=Poppins:wght@500&display=swap');


/* Fonts */
 *{ 
    font-family: 'Dancing Script', cursive;
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
    max-width: 1200px;
}

/* Aquí les dejamos como ayuda este "reset" en el cual ajustamos algunas propiedades
*  cuyos valores asigna por defecto el navegador.
*/
body {
    list-style: none;
   
}
header {
    margin:0;    
    background-color: #fbfbfb;
    font-size:18px;
    width:95%;
    color: rgba(175, 89,158, 0.3),
    
}
    

#logo {
    border-style:none;
    width:10%;
    
}

.enlaces {
    display: block;
    text-align: center;
    margin-bottom: 20px;
    text-decoration: none;
    color: inherit;
    font-size:18px;
    
}

#foto{
    width:400px;
    height:400px;
    border-radius:180px;
    text-align: center;
}

h1{
    text-align: center;
    font-size: 36px; 
  
}

main{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    line-height: 1.2;
    font-size:18px;
    border-radius:10px;
    background-color: rgba(175, 89,158, 0.3);
    padding: 20px;
}

h2 {
    font-size:28px;
    text-align: center;
   
}

#sistesis {
     bottom: auto;
     text-align: center;
     font-size:20px; 
     border-radius: 15px;
     background-color: #af599e;
     text-decoration: none;
     text-transform: capitalize;

 }       
 section{
    text-align: center;
      
 }  
 .adicional{
    display:flex;
    justify-content: space-between;
 }

 .icono{
    box-sizing: border-box;
    margin: 20px 20px;
 }

 #pie {
    text-align:center;
    font-size: 20px;
    color:#fbfbfb;
    background-color:#af599e
}