/* En este archivo escriban su CSS */



/* Importar aquí la font */
  @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Lato:wght@400;700&family=Poppins:wght@500&display=swap');


/* Fonts */
 *{ 
    font-family: 'Dancing Script', cursive;
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
    max-width: 1200px;
    margin: 0 auto;   
}

/* Aquí les dejamos como ayuda este "reset" en el cual ajustamos algunas propiedades
*  cuyos valores asigna por defecto el navegador.
*/
body {
    list-style: none;
    max-width: 1200px;
    margin: 0 auto;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    background:#fbfbfb;
    position: fixed;
    width: 100%;
    z-index: 100;
    margin: 0;
}

.navbar {
    display: flex;
    margin-right: 50px;
    color: inherit;
    
}
.navbar a {
    display: block;
    padding: 60px 30px;
    color:black;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 20px;
    color: inherit;
}
.navbar a:hover{
    background: #e6e5e5;
}

#Inicio { 
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-top: auto;
}
#contacto {
    align-items: flex-end;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 0;
}

.logo {
    border-style:none;
    width:10px;
    height: 10px;
    padding: 10px 10px;
    margin: 10px;
    color: #e6e5e5;
    justify-content: flex-start;
    margin-bottom: 20px;
    margin-top: 0; 
}

#imagen{
    display: block;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    margin: auto;
    flex-direction: column;
    border-radius: 180px;

}

section.foto{
    text-align: center;
    list-style: none;
    padding-top: 10%; 
    margin-bottom: 20px;
}


h1{
    text-align: center;
    font-size: 36px; 
    padding-top: 20px;
}

#detalle{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    line-height: 1.2;
    font-size:18px;
    padding-top: 20px;
    padding-bottom: 20px;

}
main{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    line-height: 1.2;
    font-size:18px;
    border-radius:10px;
    background-color: rgba(175, 89,158, 0.3);
    padding: 20px;
}

h2 {
    font-size:28px;
    text-align: center;
   
}

#sistesis {
    text-align: center;
    font-size:20px; 
    border-radius: 15px;
    background-color: #af599e;
    text-transform: capitalize;
    padding: 15px;
    box-align: center;
    text-transform: uppercase;
    font-family:  sans-serif;
    text-decoration: none;
    color: inherit;
    margin-top: 15px;
    margin: 20px 450px 20px 450px;
    
 }       
 section.content{
    text-align: center;
    list-style: none;
    padding-top: 10%;
    
 }  

 .adicional{
    justify-content: space-between;
    display:flex;
    padding: 20px;

 }

 .icono{
    box-sizing: border-box;
    margin: 20px 20px;
    width: 60px;
    height: 60px;
   
 }

 #pie {
    text-align:center;
    font-size: 20px;
    color:#fbfbfb;
    background-color:#af599e;
    padding: 20px;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    
}